<audio autoplay preload="auto" controls src="http://stream.dasroot.net:8000/;"></audio>
<p>This player uses HTML5 audio tags. Dont hear music? Try using a native client
  to listen to the radio stream. More information on this over at the <a href="/tunein">Tune in</a> link.
