<div class="box2">
  <h1><span>Show Schedule</span></h1>
  <div class="row">
    <div class="span10">
      <div class="accordion" id="shows">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#shows" href="#morning-meditation">
              <img src="/images/shows/morning-meditation.png" alt="Morning Meditation - A chill blend of ambience on tap">
            </a>
          </div>
          <div id="morning-meditation" class="accordion-body collapse in">
            <div class="accordion-inner">
              <address>
                <strong>Airing:</strong> 8:00 am - Noon<br />
                <strong>Frequency:</strong> Daily
              </address>
              <p>Curated from the best lists found in the Creative Commons space.</p>
              <p>Overcoming negative minds and cultivating constructive thoughts is the purpose of the transforming meditations found in the Buddhist tradition. This is a profound spiritual practice you can enjoy throughout the day, not just while seated in meditation.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#shows" href="#classical-collective">
            <img src="/images/shows/classical-collective.png" alt="Classical Collective - A delightful mix of piano and chamber music">
          </a>
        </div>
        <div id="classical-collective" class="accordion-body collapse">
          <div class="accordion-inner">
            <address>
              <strong>Airing:</strong> 6:00 am - 8:00 am<br />
              <strong>Frequency:</strong> Daily
            </address>
            <p></p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#shows" href="#electric-flapjacks">
            <img src="/images/shows/electric-flapjacks.png" alt="Electric Flapjacks - CliqHop, House, Electro, Trance, and Powerful Bass">
          </a>
        </div>
        <div id="electric-flapjacks" class="accordion-body collapse">
          <div class="accordion-inner">
            <address>
              <strong>Airing:</strong> Noon - 2:00 pm<br />
              <strong>Frequency:</strong> Daily
            </address>
            <p></p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#shows" href="#urban-poetry">
            <img src="/images/shows/urban-poetry.png" alt="Urban Poetry - Strong vocals, Hip Hop, and R&amp;B">
          </a>
        </div>
        <div id="urban-poetry" class="accordion-body collapse">
          <div class="accordion-inner">
            <address>
              <strong>Airing:</strong> 4:00 pm - 6:00 pm<br />
              <strong>Frequency:</strong> Daily
            </address>
            <p></p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#shows" href="#greenlight-district">
            <img src="/images/shows/greenlight-district.png" alt="Green Light District - A focus on fresh talent">
          </a>
        </div>
        <div id="greenlight-district" class="accordion-body collapse">
          <div class="accordion-inner">
            <address>
              <strong>Airing:</strong> 2:00 pm - 4:00 pm<br />
              <strong>Frequency:</strong> Daily
            </address>
            <p></p>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#shows" href="#overnight-ambience">
            <img src="/images/shows/overnight-ambience.png" alt="Overnight Ambience - Music to keep you cruising through the late night">
          </a>
        </div>
        <div id="overnight-ambience" class="accordion-body collapse">
          <div class="accordion-inner">
            <address>
              <strong>Airing:</strong> Midnight - 6:00 am<br />
              <strong>Frequency:</strong> Daily
            </address>
            <p></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
