<div class="box2">
  <h1><span>DJ Application</span></h1>
  <div class="row">
    <div class="span6">
      <h2>Apply to be a Station Programmer, or a Live Performer</h2>

        <%= render 'form' %>

      <!-- <%= link_to 'home', root_path %> -->

    </div>
    <div class="span4">
      <img src="/images/dj_at_work.jpg" class="img-rounded">
      <br />
      <p> If you've got 'the stuff', we want to talk to you! We're always looking
        for new talent to join the ranks of Juju.Rocks radio. We're staffed by
        some of the most professional volunteers from around the globe.</p>
      <p> Share your passion with many like minded individuals from around the
         globe, and feature the work that you're most interested in. So long
         as the work is Creative Commons licensed, we can air it all day long!
     </p>
    </div>
  </div>
</div>
