          <div class="box3">
            <div class="row">
              <div class="span2">
                <div class="bot1_block">
                  <div class="bot1_title">MAIN MENU</div>
                  <ul class="ul0">
                    <li><a href="/">Main page</a></li>
                    <li><a href="/about">About us</a></li>
                    <li><a href="/schedule">Programs</a></li>
                    <li><a href="/application">DJ Application</a></li>
                    <li><a href="/sitemap">Site Map</a></li>
                    <li><a href="https://trello.com/b/HEuLKtKI/juju-rocks">Planning Board</a></li>
                    <li><a href="https://github.com/chuckbutler/jujurocks/issues">Report A Bug</a></li>
                  <!--  <li><a href="index-3.html">Podcasts</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="span4">
                <div class="bot1_block">
                  <div class="bot1_title">PROGRAMS</div>
                </div>
                <div class="row">
                  <div class="span2">
                    <div class="bot1_block">
                      <ul class="ul0">
                        <li><a href="/schedule/#ambient">Ambient Overnight</a></li>
                        <li><a href="/schedule/#classical">Classical Collective</a></li>
                        <li><a href="/schedule/#meditation">Morning Meditation</a></li>
                        <li><a href="/schedule/#electric">Electric Flapjacks</a></li>
                        <li><a href="/schedule/#green">Green Light District</a></li>
                        <li><a href="/schedule/#urban">Urban Poetry</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="span2">
                    <div class="bot1_block">
                      <ul class="ul0">
                        <li><a href="/podcasts/nu">Nu: Series Podcast</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="kv2">
                  <!-- <div class="txt1">Call us:</div>
                  <div class="txt2">1 800 123 4567</div> -->
                  <div class="txt3"><p>E-mail: <a href="#">station@juju.rocks</a></div>
                  <div class="txt1">Based in: Pittsburgh PA<br>
                    <img src="/images/map.png" />
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="box4">
            <footer>
              <div class="copyright">Copyleft   © 2014. - All content contained is licensed CC by the original owner.</div>
            </footer>
          </div>
