          <!-- Top Fading Slider -->
          <div class="box2">
          <div id="slider_wrapper">
            <div id="slider" class="clearfix">
              <div id="camera_wrap">
                <div data-src="images/slide01.jpg">
                  <div class="camera_caption fadeFromRight">
                    <div class="txt1"><span>Are you a musician?</span></div>
                    <div class="txt2"><span>Submit your music today!</span></div>
                    <div class="txt2"><br /><br /><br />Photo credit: Matt Gibson, CC-NC-BY</div>
                  </div>
                </div>
                <div data-src="images/slide02.jpg">
                  <div class="camera_caption fadeFromRight">
                    <div class="txt1"><span>Freedom Powered</span></div>
                    <div class="txt2"><span>All tracks 100% Creative Commons</span></div>
                    <div class="txt2"><br /><br /><br />Photo credit: <a href="http://www.flickr.com/photos/horiavarlan/4329908160/">Horia Varlan</a></div>
                  </div>
                </div>
                <div data-src="images/slide03.jpg">
                  <div class="camera_caption fadeFromRight">
                    <div class="txt1"><span>Freedom to Discover</span></div>
                    <div class="txt2"><span>Amazing Talent, with few restrictions</span></div>
                    <div class="txt2"><br /><br /><br />Photo credit: <a href="https://www.flickr.com/photos/levoodoo/">Lip Jin Lee</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Show Highlights -->
          <div class="banners">
            <div class="row">
              <div class="span5 banner banner1">
                <div class="banner_inner"><a href="#"><img src="images/banner1.jpg" alt="" class="img"></a></div>
              </div>
              <div class="span5 banner banner2">
                <div class="banner_inner"><a href="#"><img src="images/banner2.jpg" alt="" class="img"></a></div>
              </div>
            </div>
          </div>
