  <div class="span3">
    <div class="kv1">
      <h3>Our Staff</h3>
      <div class="kv1_pad">
        <div class="thumb2">
          <div class="thumbnail clearfix">
            <a href="http://twitter.com/lazypower">
              <figure><img src="images/chuck.png" alt=""></figure>
              <div class="caption">
                <div class="txt1">Chuck Butler</div>
                <div class="txt2">Station Manager & Programming</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="line1"></div>
        <div class="kv1_pad">
          <div class="thumb2">
            <div class="thumbnail clearfix">
              <a href="https://twitter.com/JoseeAntonioR">
                <figure><img src="images/jose.png" alt=""></figure>
                <div class="caption">
                  <div class="txt1">José Antonio Rey</div>
                  <div class="txt2">Station Programming</div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="line1"></div>
          <div class="kv1_pad">
            <div class="thumb2">
              <div class="thumbnail clearfix">
                <a href="https://twitter.com/GeekyChic_LM">
                  <figure><img src="images/leena.jpg" alt=""></figure>
                  <div class="caption">
                    <div class="txt1">Leena Mowat</div>
                    <div class="txt2">Station Programming</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
    </div>
  </div>
