<!-- Header -->
<header>
  <div class="logo_wrapper">
    <a href="/" class="logo"><img src="/images/logo.png" alt=""></a>
  </div>
</header>
<!-- /Header -->
<!-- /Top nav -->
<div class="top1 clearfix">
  <div class="menu_top clearfix">
      <ul id="menu_top" class="clearfix">
        <li><a href="#">Become a Partner</a></li>
        <li><a href="#">DJ Application</a></li>
      </ul>
  </div>
  <div class="top2">
  <a href="/player" onclick="window.open(this.href, 'Juju.Rocks player',
  'left=20,top=20,width=350,height=100,toolbar=0,resizable=0'); return false;" class="top_banner1"><div class="txt1">Listen Live</div><div class="txt2">click here</div><img src="/images/top_banner1_img.png" alt="" class="img"></a>
  <!-- <a href="#" class="top_banner2"><div class="txt1">now on air</div><div class="txt2">dj brabus</div><img src="images/top_banner2_img.png" alt="" class="img"></a> -->
  </div>
</div>
<!-- /Top nav -->
