
<body class="main">
<div id="main">
<div class="bg2"></div>
<div class="bg3"></div>
<div id="inner">

<div class="container">
<div class="row">
<div class="span2">
<div class="box1"></div>
</div>
<div class="span10">
<div class="box0">

<header><div class="logo_wrapper"><a href="index.html" class="logo"><img src="images/logo.png" alt=""></a></div></header>

<div class="menu_wrapper">
<div class="navbar navbar_">
	<div class="navbar-inner navbar-inner_">
		<a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
			<div class="over1">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</div>
			<div class="txt1">menu</div>
		</a>
		<div class="nav-collapse nav-collapse_ collapse">
			<ul class="nav sf-menu clearfix">
        <li class="active"><a href="index.html"><div class="over1"></div><div class="over2"></div><div class="txt1">Home</div><div class="txt2">start here</div></a></li>
        <li><a href="index-1.html"><div class="over1"></div><div class="over2"></div><div class="txt1">About Us</div><div class="txt2">our dj's</div></a></li>
        <li><a href="index-2.html"><div class="over1"></div><div class="over2"></div><div class="txt1">Shows</div><div class="txt2">programs</div></a></li>
      <!--  <li class="sub-menu sub-menu-1"><a href="index-3.html"><div class="over1"></div><div class="over2"></div><div class="txt1">Podcasts</div><div class="txt2">listen now</div></a>
        <ul>
        	<li><a href="index-3.html">Lorem ipsum</a></li>
        	<li><a href="index-3.html">Dolor sit</a></li>
        	<li><a href="index-3.html">Sit amet</a></li>
        	<li><a href="404.html">404 page not found</a></li>
        </ul>
        </li>
        <li><a href="index-4.html"><div class="over1"></div><div class="over2"></div><div class="txt1">Gallery</div><div class="txt2">photos</div></a></li>
        <li><a href="index-5.html"><div class="over1"></div><div class="over2"></div><div class="txt1">Contacts</div><div class="txt2">mail us</div></a></li> -->
      </ul>
		</div>
	</div>
</div>
</div>

<!-- Not sure if i want to be social yet
<div class="social_wrapper">
	<ul class="social clearfix">
	    <li><a href="#"><img src="images/social_ic1.png"><em></em></a></li>
	    <li><a href="#"><img src="images/social_ic2.png"><em></em></a></li>
	    <li><a href="#"><img src="images/social_ic3.png"><em></em></a></li>
	    <li><a href="#"><img src="images/social_ic4.png"><em></em></a></li>
	    <li><a href="#"><img src="images/social_ic5.png"><em></em></a></li>
	</ul>
</div>
-->

<div class="top1 clearfix">
<div class="menu_top clearfix">
    <ul id="menu_top" class="clearfix">
      <li><a href="#">Become a Partner</a></li>
      <li><a href="#">DJ Application</a></li>
    </ul>
</div>
<div class="top2">
<a href="/player/index" onclick="window.open(this.href, 'Juju.Rocks player',
'left=20,top=20,width=350,height=100,toolbar=0,resizable=0'); return false;" class="top_banner1"><div class="txt1">Listen Live</div><div class="txt2">click here</div><img src="images/top_banner1_img.png" alt="" class="img"></a>
<!-- <a href="#" class="top_banner2"><div class="txt1">now on air</div><div class="txt2">dj brabus</div><img src="images/top_banner2_img.png" alt="" class="img"></a> -->
</div>

</div>


<!-- Top Fading Slider -->
<div class="box2">
<div id="slider_wrapper">
	<div id="slider" class="clearfix">
		<div id="camera_wrap">
			<div data-src="images/slide01.jpg">
				<div class="camera_caption fadeFromRight">
					<div class="txt1"><span>Are you a musician?</span></div>
					<div class="txt2"><span>Submit your music today!</span></div>
          <div class="txt2"><br /><br /><br />Photo credit: Matt Gibson, CC-NC-BY</div>
				</div>
			</div>
			<div data-src="images/slide02.jpg">
				<div class="camera_caption fadeFromRight">
					<div class="txt1"><span>Freedom Powered</span></div>
					<div class="txt2"><span>All tracks 100% Creative Commons</span></div>
          <div class="txt2"><br /><br /><br />Photo credit: <a href="http://www.flickr.com/photos/horiavarlan/4329908160/">Horia Varlan</a></div>
				</div>
			</div>
			<div data-src="images/slide03.jpg">
				<div class="camera_caption fadeFromRight">
					<div class="txt1"><span>Freedom to Discover</span></div>
					<div class="txt2"><span>Amazing Talent, with few restrictions</span></div>
          <div class="txt2"><br /><br /><br />Photo credit: <a href="https://www.flickr.com/photos/levoodoo/">Lip Jin Lee</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Show Highlights -->
<div class="banners">
<div class="row">
<div class="span5 banner banner1">
<div class="banner_inner"><a href="#"><img src="images/banner1.jpg" alt="" class="img"></a></div>
</div>
<div class="span5 banner banner2">
<div class="banner_inner"><a href="#"><img src="images/banner2.jpg" alt="" class="img"></a></div>
</div>
</div>
</div>


<div class="row">
<div class="span7">

<h2>Juju.rocks, Creative Commons powered Web Radio</h2>

<h4>Juju.rocks is a grass roots garage project, aimed at making the world a more beautiful place.</h4>

<div class="thumb1">
	<div class="thumbnail clearfix">
		<figure class="img-polaroid"><img src="images/home01.jpg" alt=""></figure>
		<div class="caption">
			<p>
			     The web radio scene is fairly saturated with options, and most of them are chock full of ad's, and
           selling visitor metrics to the highest bidder in an effort to raise enough capital to pay the
           increasing license fees on commercial music.
			</p>
      <p>
          Music doesn't have to be commercial to be <strong>great</strong> music. There are tons of indie
          artists that believe in making the world a brighter place by sharing their talents with the world
          free to use, modify, and redistribute. Juju.rocks aims at highlighting the efforts of these artists
          and projecting that message to everyone willing to listen.
      </p>
			<!-- <a href="#" class="button1">Read More</a> -->
		</div>
	</div>
</div>

</div>
<div class="span3">
  <div class="kv1">
    <h3>Our Staff</h3>
    <div class="kv1_pad">
      <div class="thumb2">
      	<div class="thumbnail clearfix">
      		<a href="http://twitter.com/lazypower">
      			<figure><img src="images/chuck.png" alt=""></figure>
      			<div class="caption">
      				<div class="txt1">Chuck Butler</div>
      				<div class="txt2">Station Manager & Programming</div>
      			</div>
      		</a>
      	</div>
      </div>
    </div>
    <div class="line1"></div>
      <div class="kv1_pad">
        <div class="thumb2">
        	<div class="thumbnail clearfix">
        		<a href="https://twitter.com/JoseeAntonioR">
        			<figure><img src="images/jose.png" alt=""></figure>
        			<div class="caption">
        				<div class="txt1">José Antio Rey</div>
        				<div class="txt2">Station Programming</div>
        			</div>
        		</a>
        	</div>
        </div>
      </div>
      <div class="line1"></div>
        <div class="kv1_pad">
          <div class="thumb2">
            <div class="thumbnail clearfix">
              <a href="https://twitter.com/GeekyChic_LM">
                <figure><img src="images/leena.jpg" alt=""></figure>
                <div class="caption">
                  <div class="txt1">Leena Mowat</div>
                  <div class="txt2">Station Programming</div>
                </div>
              </a>
            </div>
          </div>
        </div>
  </div>
</div>







</div>
</div>




<div class="box3">
<div class="row">
<div class="span2">
<div class="bot1_block">
	<div class="bot1_title">MAIN MENU</div>
	<ul class="ul0">
	  <li><a href="index.html">Main page</a></li>
	  <li><a href="index-1.html">About us</a></li>
	  <li><a href="index-2.html">DJ Application</a></li>
    <li><a href="index-2.html">Site Map</a></li>
	 <!--  <li><a href="index-3.html">Podcasts</a></li> -->
	</ul>
</div>
</div>
<div class="span4">
<div class="bot1_block">
	<div class="bot1_title">PROGRAMS</div>
</div>
<div class="row">
	<div class="span2">
		<div class="bot1_block">
			<ul class="ul0">
			  <li><a href="#">Ambient Overnight</a></li>
			  <li><a href="#">Classical Collective</a></li>
			  <li><a href="#">Morning Meditation</a></li>
			  <li><a href="#">Electric Flapjacks</a></li>
			  <li><a href="#">Green Light District</a></li>
			  <li><a href="#">Urban Poetry</a></li>
			</ul>
		</div>
	</div>
	<div class="span2">
		<div class="bot1_block">
			<ul class="ul0">
			  <li><a href="#">Lorem ipsum dolor</a></li>
			  <li><a href="#">Sit amet consectetue</a></li>
			  <li><a href="#">Adipiscing elit</a></li>
			  <li><a href="#">Nunc suscipit</a></li>
			  <li><a href="#">Suspendisse enim</a></li>
			  <li><a href="#">Convallis non cursus</a></li>
			  <li><a href="#">Dignissim et est</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
<div class="span4">
<div class="kv2">

<!-- <div class="txt1">Call us:</div>
<div class="txt2">1 800 123 4567</div> -->
<div class="txt3">Based in:</div>
<div class="txt4">Pittsburgh PA<br>
<p>E-mail: <a href="#">station@juju.rocks</a></p></div>

</div>
</div>
</div>
</div>

<div class="box4">
<footer><div class="copyright">Copyleft   © 2014. - All content contained is licensed CC by the original owner.</div></footer>
</div>


</div>


</div>
</div>
</div>
</div>





</div>
</div>
<script type="text/javascript" src="js/bootstrap.js"></script>

<script>
$(document).ready(function() {
	// camera
	$('#camera_wrap').camera({
		//thumbnails: true
		autoAdvance			: true,
		mobileAutoAdvance	: true,
		//fx					: 'simpleFade',
		height: '40%',
		hover: false,
		loader: 'none',
		navigation: true,
		navigationHover: true,
		mobileNavHover: true,
		playPause: false,
		pauseOnClick: false,
		pagination			: false,
		time: 7000,
		transPeriod: 1000,
		minHeight: '200px'
	});

	//	carouFredSel
	// $('#slider3 .carousel.main ul').carouFredSel({
	// 	auto: {
	// 		timeoutDuration: 8000
	// 	},
	// 	responsive: true,
	// 	prev: '.prev3',
	// 	next: '.next3',
	// 	width: '100%',
	// 	scroll: {
	// 		items: 1,
	// 		duration: 1000,
	// 		easing: "easeOutExpo"
	// 	},
	// 	items: {
  //       	width: '200',
	// 		height: 'variable',	//	optionally resize item-height
	// 		visible: {
	// 			min: 1,
	// 			max: 5
	// 		}
	// 	},
	// 	mousewheel: false,
	// 	swipe: {
	// 		onMouse: true,
	// 		onTouch: true
	// 		}
	// });
	$(window).bind("resize",updateSizes_vat).bind("load",updateSizes_vat);
	function updateSizes_vat(){
		$('#slider3 .carousel.main ul').trigger("updateSizes");
	}
	updateSizes_vat();

}); //
$(window).load(function() {
	//

}); //
</script>
