
						<%= render "shared/index_feature" %>
						<div class="row">
							<div class="span7">
								<h2>Juju.rocks, Creative Commons powered Web Radio</h2>
								<h4>Juju.rocks is a grass roots garage project, aimed at making the world a more beautiful place.</h4>
								<div class="thumb1">
									<div class="thumbnail clearfix">
										<figure class="img-polaroid"><img src="images/home01.jpg" alt=""></figure>
										<div class="caption">
											<p>
											     The web radio scene is fairly saturated with options, and most of them are chock full of ad's, and
								           selling visitor metrics to the highest bidder in an effort to raise enough capital to pay the
								           increasing license fees on commercial music.
											</p>
								      <p>
								          Music doesn't have to be commercial to be <strong>great</strong> music. There are tons of indie and professional
								          artists alike that believe in making the world a brighter place by sharing their talents with the world
								          free to use, modify, and redistribute. Juju.rocks aims at highlighting the efforts of these artists
								          and projecting that message to everyone willing to listen.
								      </p>
											<a href="/about" class="button1">Read more about us</a>
										</div>
									</div>
								</div>
							</div>
							<%= render "shared/staff_list" %>
							</div><!-- end content box -->
						</div> <!-- end box -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<%= render "shared/scripts/index_scripts" %>
