
<div class="box2">
	<h1><span>who we are</span></h1>
	<div class="row">
		<div class="span7">
			<h2>A Little About Us</h2>
			<h4>Our mission is to bring the love of Creative Commons Audio Artwork to the masses. License does not dictate the quality of music, and we're going to prove it to you.</h4>
			<ul class="thumbnails thumbnails1">
				<li>
					<div class="thumbnail clearfix">
						<figure class=""><img src="images/about01.jpg" alt=""></figure>
					</div>
				</li>
				<li>
					<div class="thumbnail clearfix">
						<figure class=""><img src="images/about03.jpg" alt="Photo credit: Igor Zalbidea"></figure>
					</div>
				</li>
			</ul>
			<p>
				For all the activism in the Open Music movement, nothing pushes the ball forward like brilliant,
				evocative music. While there is plenty of underground music of all sub-genres across the internet,
				there is also a growing collection of mainstream, above-ground producers who understand the value
				of sharing as a means of boosting their own creativity along with their exposure.
			</p>
			<p>
				Among those top artists are <strong>DJ Vadim</strong>, <strong>DJ Shadow</strong>,
				<strong>Kelle Maize</strong>, and <strong>Professor Kliq</strong> just to name a few. All are considered
				main stream artists in their respective genre, and continue to contribue back to a growing movement that
				cannot be denied. Creative freedom from licensing restrictions benefits the world, and provides enjoyable
				- hackable music that we can all enjoy.
			</p>
			<p>
				<strong>Juju.rocks</strong> embraces the Open Music movement, and has dedicated to airing only Creative
				Commons Licensed material. No Commercials, No on-site advertising, or crazy tracking to try and turn a profit.
				This station is 100% by the fans, for the fans. It's our little way of giving back and helping the unwashed
				masses discover music that they wouldn't have otherwise turned an ear to. Who knows? Maybe you'll remix something
				featured here and become e-famous.
			</p>
			<p>
				When that happens, we'll be ready to receive your original content, and schedule you a featured slot on air to
				showcase your personal efforts and run a highlight story on your music.
			</p>
			<p>
				Don't want to be featured by only included? No problem. We can do that too. Submit your Creative Commons licensed
				content on the Music Submission form and we'll get you on air as quickly as possible, and thank you personally.
			</p>
			<p>
				 Have a great time, and dont forget to share this with your friends :)
			</p>
			<p> From the staff at Juju rocks - &lt;3 keep the love in your heart</p>
		</div>
		<%= render "shared/staff_list" %>
	</div>

	<!-- <h3>Testimonials <a href="#">more testimonials</a></h3>
	<div class="row">
		<div class="span5">
			<div class="testimonial1">
				<div class="txt1">
					Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</div>
				<div class="txt2">
					<span>Alex Williams</span><br><a href="#">http://demolink.org</a>
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="testimonial1">
				<div class="txt1">
					Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</div>
				<div class="txt2">
					<span>Jesica Smith</span><br><a href="#">http://demolink.org</a>
				</div>
			</div>
		</div>
	</div> -->
</div>
